.contributors > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.contributors > ul > li {
  background-color: var(--background-color);
  color: #202020;
}

.contributors .contributors-contributor-body {
  margin: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contributors .contributors-contributor-image {
  line-height: 0;
  text-align: center;
}

.contributors .contributors-contributor-body > *:first-child {
  margin-top: 0;
}

.contributors > ul > li img {
  aspect-ratio: auto 1152 / 1152;
  margin-bottom: 7px;
  margin-top: 7px;
  border-radius: 50%;
  height: 164px;
  object-fit: cover;
  width: 164px;
  text-align: center;
}

.contributors > ul > li p {
  color: dimgray;
  font-size: 18px;
  font-weight: 600;
  height: auto;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  text-align: left;
  text-transform: uppercase;
  width: auto
}

.contributors > ul > li a.button {
  color: rgb(32 32 32);
  cursor: pointer;
}

.contributors .contributors-social-container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #202020;
  padding-top: 1em;
}

.contributors .contributors-social-contributor-title {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: .25em;
  font-weight: normal;
  font-size: 24px;
}

.contributors .contributors-social-contributor-roles {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: .25em;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
