.franklin-banner {
  width: 100%;
  background-color: blue;
}

.franklin-banner > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 12px;
}

.franklin-banner > ul > li {
  width: 100%;
  height: 100%;
  display: grid;
}

.franklin-banner .franklin-banner-body {
  margin: 16px;
}

.franklin-banner .franklin-banner-image {
  line-height: 0;
}

.franklin-banner .franklin-banner-body > *:first-child {
  margin-top: 0;
}

.franklin-banner > ul > li img {
  width: 100%;
  object-fit: cover;
}
